<h1>Congratulations, you won!</h1>

<p>
  You've won the match <%= @match.id %>!
</p>
<p>
  You were <%= @guess.distance %> meters away from the treasure's location.
</p>

<p>Thanks for playing and have a great day!</p>
